In [1]:
import numpy as np 
import pandas as pd

## WPI value ( inflation )

In [2]:
year2025 = [ 139.9, 139.8, 140.2, 139.8, 138.6, 140, 140.5, 140.4, 140.4, 140.4]

In [3]:
fin_data= pd.read_csv("fin_dataset.csv")

In [4]:
print(fin_data.head())

         Date     Price      Open      High       Low   Vol. Change %
0  02-03-2025  3,355.00  3,402.00  3,420.00  3,350.00  0.24K   -1.06%
1  23-02-2025  3,391.00  3,446.00  3,446.00  3,349.00  1.33K   -1.85%
2  16-02-2025  3,455.00  3,379.00  3,464.00  3,379.00  1.06K    2.83%
3  09-02-2025  3,360.00  3,422.00  3,422.00  3,360.00  0.03K   -1.81%
4  02-02-2025  3,422.00  3,422.00  3,422.00  3,422.00    NaN    0.00%

In [5]:
fin_data.describe()

              Date     Price      Open      High       Low   Vol. Change %
count          473       473       473       473       473    407      473
unique         473       371       358       370       364    253      350
top     29-11-2015  3,517.00  3,550.00  3,517.00  3,517.00  0.01K    0.00%
freq             1         5         5         5         6     21       60

In [6]:
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      473 non-null    object
 1   Price     473 non-null    object
 2   Open      473 non-null    object
 3   High      473 non-null    object
 4   Low       473 non-null    object
 5   Vol.      407 non-null    object
 6   Change %  473 non-null    object
dtypes: object(7)
memory usage: 26.0+ KB

In [7]:
## convert object to datetime date is in dd /mm/yyyy format

fin_data['Date'] = pd.to_datetime(fin_data['Date'],dayfirst=True)

In [8]:
## convert object into integer
## replace , with nothing
fin_data['Price'] = fin_data['Price'].str.replace(',', '')
fin_data['Price'] = fin_data['Price'].astype(float)

In [9]:
fin_data["Open"] = fin_data["Open"].str.replace(',', '')
fin_data["Open"] = fin_data["Open"].astype(float)
fin_data["High"] = fin_data["High"].str.replace(',', '') 
fin_data["High"] = fin_data["High"].astype(float)
fin_data["Low"] = fin_data["Low"].str.replace(',', '')
fin_data["Low"] = fin_data["Low"].astype(float)

In [10]:
fin_data.head()

        Date   Price    Open    High     Low   Vol. Change %
0 2025-03-02  3355.0  3402.0  3420.0  3350.0  0.24K   -1.06%
1 2025-02-23  3391.0  3446.0  3446.0  3349.0  1.33K   -1.85%
2 2025-02-16  3455.0  3379.0  3464.0  3379.0  1.06K    2.83%
3 2025-02-09  3360.0  3422.0  3422.0  3360.0  0.03K   -1.81%
4 2025-02-02  3422.0  3422.0  3422.0  3422.0    NaN    0.00%

In [11]:
fin_data.set_index('Date', inplace=True)

In [12]:
fin_data["Change %"]= fin_data["Change %"].str.replace('%','')
fin_data["Change %"] = fin_data["Change %"].astype(float)

In [13]:
fin_data.head()

             Price    Open    High     Low   Vol.  Change %
Date
2025-03-02  3355.0  3402.0  3420.0  3350.0  0.24K     -1.06
2025-02-23  3391.0  3446.0  3446.0  3349.0  1.33K     -1.85
2025-02-16  3455.0  3379.0  3464.0  3379.0  1.06K      2.83
2025-02-09  3360.0  3422.0  3422.0  3360.0  0.03K     -1.81
2025-02-02  3422.0  3422.0  3422.0  3422.0    NaN      0.00

In [14]:
fin_data.columns

Index(['Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [15]:
fin_data.describe()

             Price         Open         High          Low    Change %
count   473.000000   473.000000   473.000000   473.000000  473.000000
mean   3903.446089  3904.752643  3972.477801  3834.359408    0.184947
std     790.535879   791.642561   815.358032   762.635627    3.480997
min    1848.000000  1809.000000  1848.000000  1765.000000  -13.590000
25%    3528.000000  3530.000000  3598.000000  3500.000000   -1.550000
50%    3871.000000  3880.000000  3938.000000  3830.000000    0.000000
75%    4175.000000  4170.000000  4252.000000  4120.000000    1.710000
max    6324.000000  6200.000000  6733.000000  6002.000000   31.120000

In [16]:
## drop nan values
fin_data.dropna(inplace=True)

In [17]:
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 407 entries, 2025-03-02 to 2015-12-13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     407 non-null    float64
 1   Open      407 non-null    float64
 2   High      407 non-null    float64
 3   Low       407 non-null    float64
 4   Vol.      407 non-null    object
 5   Change %  407 non-null    float64
dtypes: float64(5), object(1)
memory usage: 22.3+ KB

In [18]:
sample_li=[]
for i in fin_data['Vol.']:
    sample_li.append("K" in i)

In [19]:
print(sample_li)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

In [20]:
from collections import Counter
Counter(sample_li)

Counter({True: 407})

In [21]:
fin_data["Vol."] = fin_data["Vol."].str.replace('K','')
fin_data["Vol."] = fin_data["Vol."].astype(float)
## multiply by 1000 to convert to actual number
fin_data["Vol."] = fin_data["Vol."] * 1000

In [22]:
fin_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 407 entries, 2025-03-02 to 2015-12-13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     407 non-null    float64
 1   Open      407 non-null    float64
 2   High      407 non-null    float64
 3   Low       407 non-null    float64
 4   Vol.      407 non-null    float64
 5   Change %  407 non-null    float64
dtypes: float64(6)
memory usage: 22.3 KB

In [23]:
## the type of model we will use is an Attention based model

## data split time

## support data

In [24]:
support_data=pd.read_csv("support_fin_data.csv")

In [25]:
support_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        152 non-null    object
 1   time        152 non-null    object
 2   Reference   152 non-null    object
 3   Actual      152 non-null    object
 4   Previous    152 non-null    object
 5   Consensus   152 non-null    object
dtypes: object(6)
memory usage: 7.3+ KB

In [26]:
support_data.head()

        Date time  Reference  Actual  Previous  Consensus
0  14-Nov-25  7:30        Oct   4.90%     6.50%     5.50%
1  20-Oct-25  7:30        Sep   6.50%     5.20%        5%
2  15-Sep-25  7:30        Aug   5.20%     5.70%     5.80%
3  15-Aug-25  7:30        Jul   5.70%     6.80%     5.90%
4  15-Jul-25  7:30        Jun   6.80%     5.80%     5.60%

In [30]:
## drop time and refernce columns
support_data.columns

Index(['Date', 'time ', 'Reference ', 'Actual ', 'Previous ', 'Consensus'], dtype='object')

In [31]:
support_data.drop(columns=['time ','Reference '],inplace=True)

In [32]:
support_data.head()

        Date Actual  Previous  Consensus
0  14-Nov-25   4.90%     6.50%     5.50%
1  20-Oct-25   6.50%     5.20%        5%
2  15-Sep-25   5.20%     5.70%     5.80%
3  15-Aug-25   5.70%     6.80%     5.90%
4  15-Jul-25   6.80%     5.80%     5.60%

In [33]:
support_data.drop(columns=['Previous '],inplace=True)

In [34]:
support_data.head()

        Date Actual  Consensus
0  14-Nov-25   4.90%     5.50%
1  20-Oct-25   6.50%        5%
2  15-Sep-25   5.20%     5.80%
3  15-Aug-25   5.70%     5.90%
4  15-Jul-25   6.80%     5.60%

In [42]:
support_data["Actual "]= support_data["Actual "].str.replace('%','')
support_data["Actual "] = support_data["Actual "].str.replace('-','0')
support_data["Actual "] = support_data["Actual "].astype(float)

AttributeError: Can only use .str accessor with string values!

In [43]:
support_data["Consensus"]= support_data["Consensus"].str.replace('%','')

In [44]:
support_data.head()

        Date  Actual  Consensus
0  14-Nov-25      4.9      5.50
1  20-Oct-25      6.5         5
2  15-Sep-25      5.2      5.80
3  15-Aug-25      5.7      5.90
4  15-Jul-25      6.8      5.60

In [45]:
### Date into datetime format
support_data['Date'] = pd.to_datetime(support_data['Date'],dayfirst=True)

/tmp/ipykernel_4294/3411433748.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  support_data['Date'] = pd.to_datetime(support_data['Date'],dayfirst=True)

In [46]:
support_data.head()

        Date  Actual  Consensus
0 2025-11-14      4.9      5.50
1 2025-10-20      6.5         5
2 2025-09-15      5.2      5.80
3 2025-08-15      5.7      5.90
4 2025-07-15      6.8      5.60

In [47]:
## match the month and year with fin_data and add actual and consensus columns
support_data['Year'] = support_data['Date'].dt.year
support_data['Month'] = support_data['Date'].dt.month
support_data.head()

        Date  Actual  Consensus  Year  Month
0 2025-11-14      4.9      5.50  2025     11
1 2025-10-20      6.5         5  2025     10
2 2025-09-15      5.2      5.80  2025      9
3 2025-08-15      5.7      5.90  2025      8
4 2025-07-15      6.8      5.60  2025      7

In [ ]:
fin_data.reset_index(inplace=True)

In [55]:
### Now we will merge both dataframes on Date column based on month and year of the date 
# 1. Ensure the 'Date' column is in datetime format
fin_data['Date'] = pd.to_datetime(fin_data['Date'])

# 2. Extract the Year and Month into new columns
fin_data['Year'] = fin_data['Date'].dt.year
fin_data['Month'] = fin_data['Date'].dt.month

In [56]:
fin_data.head()

        Date   Price    Open    High     Low    Vol.  Change %  Year  Month
0 2025-03-02  3355.0  3402.0  3420.0  3350.0   240.0     -1.06  2025      3
1 2025-02-23  3391.0  3446.0  3446.0  3349.0  1330.0     -1.85  2025      2
2 2025-02-16  3455.0  3379.0  3464.0  3379.0  1060.0      2.83  2025      2
3 2025-02-09  3360.0  3422.0  3422.0  3360.0    30.0     -1.81  2025      2
4 2025-01-26  3422.0  3432.0  3489.0  3379.0   110.0      0.09  2025      1

In [63]:
merged_df = pd.merge(
    fin_data,       # The primary DataFrame (left)
    support_data,   # The data to join (right)
    on=['Year', 'Month'], # The common columns used for matching
    how='left',     # Keep all rows in fin_data and match support_data
    suffixes=('_fin', '_support') # Distinguish columns with the same name (like 'Date')
)

In [64]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_fin      439 non-null    datetime64[ns]
 1   Price         439 non-null    float64
 2   Open          439 non-null    float64
 3   High          439 non-null    float64
 4   Low           439 non-null    float64
 5   Vol.          439 non-null    float64
 6   Change %      439 non-null    float64
 7   Year          439 non-null    int32
 8   Month         439 non-null    int32
 9   Date_support  384 non-null    datetime64[ns]
 10  Actual        384 non-null    float64
 11  Consensus     384 non-null    object
dtypes: datetime64[ns](2), float64(7), int32(2), object(1)
memory usage: 37.9+ KB

In [65]:
merged_df.head()

,Date_fin,Price,Open,High,Low,Vol.,Change %,Year,Month,Date_support,Actual,Consensus
0,2025-03-02,3355.0,3402.0,3420.0,3350.0,240.0,-1.06,2025,3,2025-03-17,5.9,5.30
1,2025-02-23,3391.0,3446.0,3446.0,3349.0,1330.0,-1.85,2025,2,NaT,NaN,NaN
2,2025-02-16,3455.0,3379.0,3464.0,3379.0,1060.0,2.83,2025,2,NaT,NaN,NaN
3,2025-02-09,3360.0,3422.0,3422.0,3360.0,30.0,-1.81,2025,2,NaT,NaN,NaN
4,2025-01-26,3422.0,3432.0,3489.0,3379.0,110.0,0.09,2025,1,2025-01-17,6.2,5.40

In [66]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_fin      439 non-null    datetime64[ns]
 1   Price         439 non-null    float64
 2   Open          439 non-null    float64
 3   High          439 non-null    float64
 4   Low           439 non-null    float64
 5   Vol.          439 non-null    float64
 6   Change %      439 non-null    float64
 7   Year          439 non-null    int32
 8   Month         439 non-null    int32
 9   Date_support  384 non-null    datetime64[ns]
 10  Actual        384 non-null    float64
 11  Consensus     384 non-null    object
dtypes: datetime64[ns](2), float64(7), int32(2), object(1)
memory usage: 37.9+ KB

In [67]:
merged_df.dropna(inplace=True)

In [68]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 0 to 438
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date_fin      384 non-null    datetime64[ns]
 1   Price         384 non-null    float64
 2   Open          384 non-null    float64
 3   High          384 non-null    float64
 4   Low           384 non-null    float64
 5   Vol.          384 non-null    float64
 6   Change %      384 non-null    float64
 7   Year          384 non-null    int32
 8   Month         384 non-null    int32
 9   Date_support  384 non-null    datetime64[ns]
 10  Actual        384 non-null    float64
 11  Consensus     384 non-null    object
dtypes: datetime64[ns](2), float64(7), int32(2), object(1)
memory usage: 36.0+ KB